*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.header{
    background-color: black;
    height: 30px;
    width: 100%;
}

.header div a{
    color: aliceblue;
    font-size: 15px;
    text-decoration: none ;
    margin-left: 3px;
}

.header-left{
    float: left;
    margin-top: 5px;
    margin-left: 40px;
}

.header-right{
    float: right;
    margin-top: 5px;
    margin-right: 40px;
}

.navbar{
    height: 100px;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly; /*cach deu cac div*/
    align-items: center;
}

.navbar .logo{
    color: black;
    font-size: 35px;
    padding-left: 80px;
    /* padding-top: 25px; */
    font-family: arial;
}

.navbar .menu{
    width: 60%;
    /* height: 70px; */
}
.navbar .search {
    align-items: center;
}

.navbar .search .font-size{
    font-size: 25px;
}

.navbar .shopping-cart, .navbar .login{
    display: flex;
    justify-content: space-between;
    width: 95px;
    font-size: 17px;
    font-family: arial;
}

.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 70px; */
}

.menu ul li{
    list-style: none;
    margin: 0 auto;
    font-size: 18px;
} 

.menu ul li a{
    text-decoration: none;
    color: gray;
    font-family: arial;
    font-weight: 300;
}

.menu ul li a:hover{
    transition: 0.5s;
    color: black;
}

.sub-menu1{
    display: none;
}

.menu ul li:hover .sub-menu1{
    display: block;
    position: absolute;
    border: gray;
    border-radius: 10px;
    background: aliceblue;
    margin-left: -10px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu ul li:hover .sub-menu1 ul{
    display: block;
    margin: 10px;
}

.menu ul li:hover .sub-menu1 ul li{
    width: 130px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    text-align: left;
    transition: 0.7s;
}
.menu ul li:hover .sub-menu1 ul li:hover{
    color: black;
    transition: 0.7s;
}
.menu ul li:hover .sub-menu1 ul li a:hover{
    color: black;
    transition: 0.7s;
}

.login a{
    color: gray;
    font-family: arial;
    font-weight: 300;
}

.shopping-cart a{
    color: gray;
    font-family: arial;
    font-weight: 300;
}
