*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: black;
    height: 30px;
    width: 100%;
}

.header a{
    color: aliceblue;
    font-size: 15px;
    text-decoration: none ;
    margin-left: 3px;
    font-family: arial;
}

.header-left{
    float: left;
    margin-top: 5px;
    margin-left: 40px;
}

.header-right{
    float: right;
    margin-top: 5px;
    margin-right: 40px;
}

.navbar{
    height: 100px;
    width: 100%;
    background-color: aliceblue;
}

.logo{
    color: black;
    font-size: 35px;
    padding-left: 80px;
    padding-top: 25px;
    float: left;
    font-family: arial;
}
.menu{
    width: 60%;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-top: 38px;
    margin-left: 62px;
    font-size: 18px;
}

ul li a{
    text-decoration: none;
    color: gray;
    font-family: arial;
    font-weight: 300 ;
}

ul li a:hover{
    transition: 0.5s;
    color: black;
}

.sub-menu1{
    display: none;
}

.menu ul li:hover .sub-menu1{
    display: block;
    position: absolute;
    border: gray;
    border-radius: 1px;
    background: aliceblue;
    margin-left: -15px;
}

.menu ul li:hover .sub-menu1 ul{
    display: block;
    margin: 10px;
}

.menu ul li:hover .sub-menu1 ul li{
    width: 100px;
    padding: 5px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    text-align: left;
}

.menu ul li:hover .sub-menu1 ul li a:hover{
    color: black;
    transition: 0.5s;
}
